.header {
  // background-image: url("../images/header-bg.png");
  // background-repeat: no-repeat;
  // background-size: initial;
  // background-position: right -20px;
  &__contact-link {
    z-index: 1;
  }

  &.inview {
    .header__container {
      // display: none;

      h1,
      h3,
      .header__contact {
        opacity: 1;
      }
    }
  }

  &__container {
    h1,
    h3,
    .header__contact {
      opacity: 0;
      transition: opacity 800ms ease;
    }
  }

  &__wave {
    position: absolute;

    &.wave-1 {
      top: 15px;
      right: 50px;
    }

    &.wave-2 {
      bottom: -164px;
      left: -80px;
    }
  }

  &__bg {
    z-index: -1;

    &.bg-1 {
      top: -110px;
      left: -117px;
    }
    &.bg-2 {
      bottom: -140px;
      right: -95px;
    }
  }
}

.about {
  .line-wrapper {
    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      left: 0;
      height: 2px;
      background: var(--primary-default);
    }
    &::before {
      top: calc(0% - 2px);
    }
    &::after {
      bottom: calc(0% - 2px);
    }
  }

  &__bg {
    top: 40%;
    left: 40%;
    // z-index: 0;
  }
}

.skills {
  overflow: hidden;
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    column-gap: 150px;
    row-gap: 75px;

    .skill-photo {
      // display: unset !important;
    }

    .stackoverflow-text {
      top: 100%;
      left: 30px;
    }
  }

  .skill {
    width: fit-content;
    &:before {
      content: attr(data-label);
      position: absolute;
      bottom: -60px;
      // left: 10.625px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      background: var(--gray-default);
      color: var(--text-white);
      padding: 4px 10px;
      border-radius: 25px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 300ms ease;
    }

    &:hover:before {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__bg {
    &.bg-1 {
      right: -268px;
      top: 66px;
      z-index: -1;
    }
    &.bg-2 {
      left: -220px;
      bottom: -62px;
      z-index: -1;
    }
  }
}

.projects {
  &__slider {
    .swiper-wrapper {
      transition-timing-function: ease;
      transition-delay: 200ms;
    }
    .swiper-slide:not(.swiper-slide-active) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        transition: background 200ms ease;
        z-index: 11;
      }
    }

    .swiper-slide.swiper-slide-active {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        // transition: background 200ms ease;

        transition-delay: 200ms;
        z-index: -1;
      }
    }
    .swiper-slide {
      // width: 580px;
      // height: 600px;

      &.swiper-slide-active {
        // cursor: pointer;

        .projects__summary {
          transition: all 100ms ease-in;
          transition-delay: 0ms;
          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   background: rgba(0, 0, 0, 0.5);
          // }
        }

        &:hover {
          .projects__summary {
            transition: all 400ms ease-in;
            transition-delay: 200ms;
            opacity: 1;
          }

          .projects__slide .thumbnail {
            transform: translateY(82px);
          }
        }
      }

      img {
        object-fit: cover;
        // width: 580px;
        // height: 600px;
      }
    }
  }
  &__slide {
    padding: 30px 20px 0 20px;
    background-color: #fdfdfd;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      // background: #000;
      width: 100%;
    }

    .thumbnail {
      // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transition: all 400ms ease;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }

  &__navigation {
    width: 50px;
    height: 50px;
    cursor: pointer;

    &.previous {
    }
  }

  &__bg {
    bottom: -170px;
    left: 75px;
  }
}

.contact {
  &__submit {
    // background-image: linear-gradient(
    //   90deg,
    //   rgba(88, 217, 165, 1) 0%,
    //   rgba(17, 153, 142, 1) 100%
    // );
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    // background: linear-gradient(90deg, #58d9a5, #11998e);
    background-size: 300% 100%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    &:hover {
      // background-image: linear-gradient(
      //   90deg,
      //   rgba(88, 217, 165, 1) 68%,
      //   rgba(17, 153, 142, 1) 100%
      // );
      background-position: 100% 0;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
  }

  &__bg {
    left: -140px;
    bottom: 100px;
    z-index: -1;
  }

  .dot-typing {
    position: relative;
    left: -9999px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff,
      10014px 0 0 0 #ffffff;
    animation: dotTyping 1.5s infinite linear;
  }

  @keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff,
        10014px 0 0 0 #ffffff;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #ffffff, 9999px 0 0 0 #ffffff,
        10014px 0 0 0 #ffffff;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff,
        10014px 0 0 0 #ffffff;
    }
    50% {
      box-shadow: 9984px 0 0 0 #ffffff, 9999px -10px 0 0 #ffffff,
        10014px 0 0 0 #ffffff;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff,
        10014px 0 0 0 #ffffff;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff,
        10014px -10px 0 0 #ffffff;
    }
    100% {
      box-shadow: 9984px 0 0 0 #ffffff, 9999px 0 0 0 #ffffff,
        10014px 0 0 0 #ffffff;
    }
  }
}

@media (min-width: 1600px) {
  .projects {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    &__slider {
      .title-wrapper {
        max-width: unset;
      }
    }
  }
}

@media (max-width: 1360px) {
  .projects {
    // max-width: 85%;
  }
  .header {
    width: 100%;
    &__bg.bg-1 {
      left: -15px;
    }
  }

  .contact {
    &__content .left {
      margin-right: 5rem;
    }
  }
  .not-found-page {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .header {
    padding-bottom: 10rem;

    &__wave.wave-1 {
      right: 0px;
    }
  }
  .skills {
    padding-bottom: 12rem;
  }
  .projects {
    padding-bottom: 11rem;

    .swiper-slide {
      &.swiper-slide-active {
        .projects__summary {
          opacity: 1;
        }

        .projects__slide .thumbnail {
          transform: translateY(82px);
        }
      }
    }

    &__bg {
      bottom: -145px;
    }
  }
  .contact {
    &__content {
      .left,
      .right {
        .content-title {
          line-height: 1.375;
        }
      }
    }
    &__socialmedias,
    &__form {
      margin-top: 2.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 7rem;
    padding-top: 5rem;

    &__container {
      h1 {
        z-index: 1;
        position: relative;
      }
    }
    &__bg.bg-1 {
      top: -61px;
    }
    &__bg.bg-2 {
      bottom: -70px;
    }
    &__wave.wave-2 {
      bottom: -110px;
    }

    &__bg,
    &__wave {
      transform: scale(0.8);
    }
  }
  .skills {
    .skill {
      width: unset;
      justify-content: center;
      align-items: center;
    }
    .skill-photo {
      width: 80px;
    }
    &__container {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
  }

  .about {
    &__exp h1,
    &__projects h1 {
      font-size: 5.5rem;
    }
  }
  .contact {
    &__content {
      .left {
        margin-right: 3rem;
      }
      .left,
      .right {
        .content-title {
          font-size: 2.5rem;
        }
      }
    }
  }
  .not-found-page {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 928px) {
  .skills {
    &__container {
      .stackoverflow-text {
        display: none;
        // transform: scaleX(-1);
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 5rem;
    padding-top: 4rem;

    &__wave {
      display: none;
    }
    &__container {
      h1 {
        font-size: 7rem;
      }
      h3 {
        font-size: 1.5rem;
        width: 85%;
      }
    }
  }
  .skills {
    &__bg.bg-2 {
      left: -15px;
    }
  }

  .about {
    .line-wrapper {
      padding-bottom: 4rem;
      padding-top: 4rem;

      .section-title {
        margin-bottom: 2.5rem;
      }
    }

    &__exp {
      margin-bottom: 0px;
    }

    &__exp h1,
    &__projects h1 {
      font-size: 5rem;
    }

    &__container {
      flex-direction: column;
    }

    &__left {
      margin-right: 0px;
    }
    &__left,
    &__right {
      width: 100%;
    }
    &__right {
      text-align: left;
      margin-top: 3.5rem;
      flex-direction: row;
    }
  }

  .contact {
    &__wrapper {
      .section-title {
        margin-bottom: 3rem;
      }
    }
    &__content {
      flex-direction: column;

      .left,
      .right {
        width: 100%;
        margin-right: 0px;
      }
    }
    &__bg {
      left: unset;
      right: -10px;
      top: 348px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    padding-bottom: 3rem;
    padding-top: 2.5rem;

    &__container {
      h1 {
        font-size: 6rem;
      }
      h3 {
        font-size: 1.35rem;
      }
    }
    &__bg {
      display: none;
    }
  }
  .about {
    margin-bottom: 7rem;
    &__left {
      p {
        font-size: 1.2rem;
      }
    }
    &__exp {
      margin-right: 3rem;
    }
    &__exp,
    &__projects {
      h1 {
        font-size: 4.5rem;
      }
      span {
        font-size: 1.1rem;
      }
    }
    &__bg {
      display: none;
    }
  }
  .projects {
    // display: none;
    padding-bottom: 5rem;
    &__bg {
      display: none;
    }
  }
  .skills {
    padding-bottom: 7rem;
    &__container {
      grid-row-gap: 60px;
      row-gap: 60px;
    }
    .skill-photo {
      width: 75px;
    }
    .skill:before {
      display: none;
    }
    &__bg {
      display: none;
    }
  }
  .contact {
    &__wrapper .section-title {
      margin-bottom: 2rem;
    }
    &__bg {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &__contact-link {
      font-size: 1.15rem;
    }

    &__container {
      h1 {
      }
      h3 {
        width: 90%;
        font-size: 1.25rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  .skills {
    .skill-photo {
      width: 65px;
    }
    &__container {
      grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));

      grid-column-gap: 130px;
      column-gap: 130px;
    }
  }

  .projects {
    &__slide {
      padding: 15px 20px 0 20px;
    }

    .swiper-slide {
      height: 500px;

      .projects__summary {
        opacity: 1;
      }

      .projects__slide .thumbnail {
        transform: translateY(82px);
      }

      .projects__slide {
        height: 100%;
      }
    }

    &__summary {
      height: 95px;
      a {
        font-size: 1rem;
      }
    }
  }

  .about {
    &__exp h1,
    &__projects h1 {
      font-size: 4rem;
    }
  }

  .contact {
    &__content {
      .left .content-title,
      .right .content-title {
        font-size: 2.25rem;
      }
    }
    &__socialmedias {
      .row:not(:last-child) {
        margin-bottom: 2.75rem;
      }
      .detail a {
        font-size: 1.35rem;
      }
      .link-icon img {
        width: 45px;
      }
    }

    &__submit {
      width: 100%;
    }

    .dot-typing {
      margin: 0 auto;
    }
  }

  .not-found-page {
    font-size: 1.25rem;
  }
}

@media (max-width: 420px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    &__container {
      h1 {
        font-size: 5.5rem;
      }

      h3 {
        // font-size: 1.15rem;
      }
    }

    &__contact-link {
      font-size: 1.05rem;
    }
  }

  .projects {
    padding-bottom: 4rem;
    &__navigation {
      width: 45px;
      height: 45px;

      &.previous {
        left: 3rem;
      }

      &.next {
        right: 3rem;
      }
    }

    &__slide {
      padding: 0px 5px 0 5px;
    }

    &__summary {
      height: 80px;
      a {
        width: 250px;
      }
    }
  }

  .skills {
    &__container {
      grid-column-gap: 110px;
      column-gap: 110px;
    }
  }

  .contact {
    &__socialmedias .link-icon img {
      width: 40px;
    }
    &__wrapper .section-title {
      margin-bottom: 1rem;
    }
    &__content {
      .left .content-title,
      .right .content-title {
        font-size: 2.05rem;
      }
    }
    &__form .input-field {
      .error-input-field {
        font-size: 14px;
      }
      .icon:last-child {
        top: 8px;
      }
      .icon {
        right: 15px;
        width: 28px;
      }
      // .icon:last-child {
      // }
    }
    &__form .input-field:last-of-type .icon {
      top: 10px;
    }
  }
}

@media (max-width: 360px) {
  .header {
    &__container {
      h1 {
        font-size: 5rem;
      }
      h3 {
        margin-bottom: 2rem;
      }
    }

    // &__contact-link {
    //   align-items: center;
    //   svg {
    //     width: 1rem;
    //     height: 1rem;
    //     margin-top: 3px;
    //     margin-left: 8px;
    //   }
    // }
  }

  .about {
    .line-wrapper {
      padding-bottom: 3.5rem;
      padding-top: 3.5rem;
    }
    &__left {
      p {
        font-size: 1.15rem;
      }
    }
    &__exp,
    &__projects {
      h1 {
        font-size: 3.5rem;
      }
      span {
        font-size: 1rem;
      }
    }
  }

  .skills {
    .skill {
      // justify-content: left;
    }
    .skill-photo {
      width: 55px;
    }

    &__container {
      grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
      grid-column-gap: 75px;
      column-gap: 75px;
    }
  }

  .projects {
    &__navigation {
      &.previous {
        left: 2rem;
      }

      &.next {
        right: 2rem;
      }
    }
    .swiper-slide {
      height: 450px;
    }
  }

  .contact {
    &__socialmedias .detail a {
      font-size: 1.25rem;
    }
    &__content {
      .left .content-title,
      .right .content-title {
        font-size: 2rem;
      }
    }

    &__socialmedias .row:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }
}

@media (max-width: 320px) {
  .about {
    &__left p {
      font-size: 1rem;
    }
  }
  .projects {
    &__slide {
      .wrapper {
        height: 100%;
      }
      .thumbnail {
        height: 100%;
      }
    }

    &__slider {
      .swiper-slide {
        img {
          height: 100%;
        }
      }
    }
  }
}
