.header {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: right -20px;
  &__contact-link {
    position: relative;
    opacity: 0.93;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 2px;
      width: 0%;
      background: var(--primary-default);
      top: calc(100% + 10px);
      transform-origin: bottom right;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__wave {
    position: absolute;

    &.wave-1 {
      top: 100px;
      right: 100px;
    }

    &.wave-2 {
      bottom: 50px;
      left: 100px;
    }
  }
}

.about {
  .line-wrapper {
    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      left: 0;
      height: 2px;
      background: var(--primary-default);
    }
    &::before {
      top: calc(0% - 2px);
    }
    &::after {
      bottom: calc(0% - 2px);
    }
  }

  &__bg {
    top: 40%;
    left: 40%;
    // z-index: 0;
  }
}

.skills {
  overflow: hidden;
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    column-gap: 150px;
    row-gap: 75px;

    .skill-photo {
      // display: unset !important;
    }

    .stackoverflow-text {
      top: 100%;
      left: 30px;
    }
  }

  &__bg {
    &.bg-1 {
      right: -50px;
      top: 0;
      z-index: -1;
    }
    &.bg-2 {
      left: -50px;
      bottom: 125px;
      // top: 90%;
      z-index: -1;
    }
  }
}

.projects {
  &__slider {
    .swiper-slide:not(.swiper-slide-active) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 11;
      }
    }
    .swiper-slide {
      // width: 580px;
      // height: 600px;

      &.swiper-slide-active {
        // cursor: pointer;

        .projects__summary {
          transition: all 100ms ease-in;
          transition-delay: 0ms;
          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   background: rgba(0, 0, 0, 0.5);
          // }
        }

        &:hover {
          .projects__summary {
            transition: all 400ms ease-in;
            transition-delay: 200ms;
            opacity: 1;
          }

          .projects__slide .thumbnail {
            transform: translateY(98px);
          }
        }
      }

      img {
        object-fit: cover;
        // width: 580px;
        // height: 600px;
      }
    }
  }
  &__slide {
    padding: 30px 20px 0 20px;
    background-color: #fdfdfd;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      // background: #000;
      width: 100%;
    }

    .thumbnail {
      // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transition: all 400ms ease;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }

  &__navigation {
    width: 50px;
    height: 50px;
    cursor: pointer;

    &.previous {
    }
  }
}

@media (min-width: 1600px) {
  .projects {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    &__slider {
      .title-wrapper {
        max-width: unset;
      }
    }
  }
}
