@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typography";
@import "home";
@import "navbar";
@import "footer";

:root {
  --bg-color: #080808;
  --primary-default: #58d9a5;
  --primary-light: #58d9a5;
  --primary-dark: #4bb188;

  --text-white: #fdfdfd;
  --text-gray: #b1b1b1;
  --text-gray-dark: #868686;
  --gray-default: #333333;
  --gray-dark: #181818;
  --gray-darker: #0d0d0d;
}

@layer components {
  .section-title {
    @apply relative inline-block mb-16;

    h4 {
      @apply text-primary-default text-xl font-title font-bold;
    }

    &::after {
      content: "";
      position: absolute;
      right: calc(0px - 60px);
      top: 50%;
      width: 50px;
      height: 2px;
      background: var(--primary-default);
      transform: translateY(50%);
    }
  }

  .line-button {
    @apply text-xl font-title transition-all transition-all duration-300 after:transition-all after:duration-300 flex items-end;

    position: relative;
    opacity: 0.93;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 2px;
      width: 0%;
      top: calc(100% + 10px);
      transform-origin: bottom right;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

body {
  background: var(--bg-color);
}

.section-fixed-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
