@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typography";
@import "home";

:root {
  --bg-color: #000;
  --primary-default: #58d9a5;
  --primary-light: #58d9a5;
  --primary-dark: #4bb188;
  --text-white: #fdfdfd;
  --text-gray: #b1b1b1;
  --text-gray-dark: #868686;
  --gray-default: #333333;
  --gray-dark: #181818;
}

body {
  background: var(--bg-color);
}
