@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typography";
@import "home";
@import "navbar";
@import "footer";

:root {
  --bg-color: #000;
  --primary-default: #58d9a5;
  --primary-light: #58d9a5;
  --primary-dark: #4bb188;
  --text-white: #fdfdfd;
  --text-gray: #b1b1b1;
  --text-gray-dark: #868686;
  --gray-default: #333333;
  --gray-dark: #181818;
}

body {
  background: var(--bg-color);
  background-image: url("../images/desktop-body-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 125px;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}
